.header
{
	color: white;
	background-color: black;
	text-align: center;
    margin: 0;
    font-size: 60px;
    line-height: 130px;
}

.clearfix:after
{
content: " ";
visibility: hidden;
display: block;
height: 0;
clear: both;

}
h2{
	text-align: center;
	font-size: 100px;
	line-height: 50px;
}
p{
	font-size: 40px;
}
.main-content
{
	width: 100%;
	float: left;
	
}

.inner-content 
{
	position: relative;
	padding: 20px;
	background-color: #720824;
	border: 1px solid black;
	min-height: 50vh;
}

